.chatsMenu {
  background: var(--chatsMenu);
  display: flex;
  //transition: none;
  height: 100%;

  & > div:first-child {
    width: calc(100% - 2px);
    height: 100%;
  }
  .resizer {
    width: 2px;
    height: 100vh;
    background: none;
    cursor: col-resize;
    user-select: none;
  }
}

@media screen and (max-width: 768px) {
  .chatsMenu {
    width: 100vw;
    height: 100%;
    //transition: 0.3s;
  }
}
